/* General body styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Adjusted to ensure full viewport height */
}

/* Container for the cards */
ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap; /* Allow wrapping if there are many cards */
  gap: 20px;
  justify-content: center;
  margin: 0;
}

/* Card styles */
li {
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  width: 200px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Make the entire card clickable */
.card-link {
  display: block;
  padding: 20px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
  height: 100%;
}

/* Card hover effect */
li:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

/* Link hover effect */
.card-link:hover {
  color: #007bff;
}

.candidate-container {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
